body {
  background: #92ce92;
  color: #333;
}

.grid {
  display: grid;
}

.main {
  display: grid;
  grid-template-areas:
    "header header header"
    "article . aside"
    "footer footer footer";

  grid-template-columns: 1fr 64px 200px;

  column-gap: 17px;
  row-gap: 16 px;
}

.header {
  background: rgb(145, 105, 255);
}

.article {
  grid-area: article;
}
.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}

@media screen and (min-width: 600px) {
  body {
    background: red;
  }

.mobile {

display: none;

}

  .main {
    display: grid;
    grid-template-areas:
      "header header header"
      "article . aside"
      "footer footer footer";

    grid-template-columns: 1fr 64px 200px;
    column-gap: 16px;
    row-gap: 16 px;
    grid-template-rows: 100px;
    width: 770px;
    margin: 16 px auto;
  }

  .footer {
    background: blue;
  }
}
